.main-content-signup {

}

.form-section {
    max-width: 573px;
    margin: 0 auto;
    margin-top: 2rem;

    background-color: white;
    padding: 1rem 2rem;

    .form-header {
        .header-title {
           color: #003B45;
           font-size: 1.8rem;
           margin-bottom: 2.5rem;
        }
    }

.input-row {
    display: flex;
    flex-direction: column;
    margin: 1rem;

   .field-placeholder {
      position: relative;
      top: 7.7px;
      left: 20px;
      width: fit-content;
      background-color: white;
      border: 1px solid white;
      font-weight: 500;
      padding-left: 5px;
      font-size: 0.8rem;
      padding-right: 10px;
    }

    input {
      color: #003B45;
      padding: 1rem;
      border-radius: 0.2rem;
      border: 1px solid #e5e5e5ba;
      &:focus {
        border: 1px solid #fba949;
      }
      &:focus-visible {
        outline: none;
        border: 1px solid #fba949;
       }
    }

}

.submit-area {
  margin: 1rem;

  button {
    width: 100%;
    padding: 0.8rem;
    color: white;
    background-color: #ff8900;
    border: 0px solid;
    border-radius: 0.2rem;
    font-size: 16px;
    color: #FFFFFF;
  }
 }
}



@media (max-width: 767px) {
    .form-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      margin-top: 0;
      width: 100%;

     .form-header {
       .header-title {
          font-size: 2rem;
      }
     }

    .input-row {
     span {
       font-size: 1.3rem
     }
     input {
       padding: 0.5rem;
       border-radius: 0.2rem;
       border: 1px solid #b3b3b3;
      }
    }
  }
}
